
@{
    ViewBag.Title = "Index";
}
@section js{

    <script src="~/Scripts/Mustache.js"></script>
    <script src="~/Scripts/SearchBar.js"></script>
}
<h2>Index</h2>
<div class="container">
    <div class="txtSearch">
        <input class="form-control mr-sm-2" type="search" id="Searchtxt" placeholder="Search" aria-label="Search">
        <div id="autoCompleteSearch" style=" background-color: white;
                                      max-width: 250px;
                                      min-height: fit-content;
                                      display: none;
                                      position: absolute;
                                      z-index: 1000;
                                      width: fit-content;
                                      border: 1px solid steelblue;
                                      padding: 10px;
                                      top: 30%;" xccclass="col-md-12">
        </div>
        <script id="data-template" type="x-tmpl-mustache">
            <a href="/Home/ContentProduct/{{ID}}">{{Name}}</a>
            <hr />
        </script>
    </div>
</div>