

@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>WIKI Register</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Areas/Admin/Acess/css/style.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->

</head>
<body>
    <div class="container">
        <div class="text-center">
            @using (Html.BeginForm("","Home"))
            {
                
            }
        </div>


    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>

