@model List<WikiManageWeb.Models.ModelsView.CategoryMv>
<!-- Sidebar -->
<div id="navigatiobar">
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">WikipiaMini </div>
        <div class="list-group list-group-flush ml-2">
            @foreach (var item in Model)
            {
                <a href="@Url.Action("ListProductByCategory","Home", new {id = @item.ID })" class="list-group-item list-group-item-action bg-light">@item.Name</a>

            }
            <a href="@Url.Action("MainPage","Developer")" class="list-group-item list-group-item-action text-danger bg-light">wiki for developer</a>
        </div>
    </div>
</div>
<!-- /#sidebar-wrapper -->
